<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 TRANSITIONAL//EN">
<html>
	<head>
		
		<!-- One needs one of them little icons at the top, and I got one. -->
		<link rel="shortcut icon" href="/spectre/media/favicon.ico" >
		<link rel="icon" type="image/gif" href="/spectre/media/animated_favicon1.gif" >
		
		<!-- a title -->
		<title>S.P.E.C.T.R.E.</title>
		
		<!-- a style sheet -->
		<link rel="stylesheet" href="/spectre/media/mainPage.css" />
	</head>
	<body>
	
		<!-- The whole body of this page is in this div, a banner, so it's black with a silver border -->
		<div class="banner">
		
			<!-- the logo, in a div, so you can't drag it like an image, which ruins the effect. -->
			<div class="spectrelogodiv">
			</div>
			
			<!-- the title, as it appears on the page -->
			<div class="spectretitle">
				We Are S.P.E.C.T.R.E.
			</div>
			<div class="spectresubtitle">
				The Caltech Science Fiction Club
			</div>
			<br />
			
			<!-- I want a horizontal line, with two buttons under it at either end, one for the database, and one to join spectre -->
			<div>
				<hr class="seperator" />
				<div class="left">
					<input type="button" class="btn" onclick="parent.location='/spectre/login/'" value="Database" />
				</div>
				<div class="right">
					<input type="button" class="btn" onclick="parent.location='/spectre/user/add/'" value="Join Us" />
				</div>
			</div>
			<div class="spacer">
			</div>
			
			<!-- and now, the main article -->
			<div>
				<div class="spectresection">
					Why Spectre?
				</div>
				<div class="spectretext">
					Because a university thoroughly dedicated to science wouldn't be truly complete without a Science Fiction Club!
				</div>
				<br />
				<div class="spectresection">
					Where is Spectre?
				</div>
				<div class="spectretext">
					Spectre is located in the SAC Bechtel library; the room is on South Master. Presently, books may be checked out using the green marble notebook on the table.
				</div>
				<br />
				<div class="spectresection">
					What is the Spectre combo?
				</div>
				<div class="spectretext">
					1-3-42
				</div>
				<br />
				<div class="spectresection">
					Library
				</div>
				<div class="spectretext">
					The main purpose of Spectre is to provide Caltech with quality speculative fiction. We have a heavy focus on science fiction but also offer selections from fantasy, historical fiction, alternative histories, relevant nonfiction, and various other genres.
				</div>
				<br />
				<div class="spectretext">
						The librarians are currently in the process of cataloging our collection so that you can check it out, however you are welcome to read books in the library while we get checkout up and running.
				</div>
				<br />
				<div class="spectresection">
					Collection
				</div>
				<div class="spectretext">
					You may search and view our full catalogue of books in our <a href="/spectre/login/">database</a>.
				</div>
				<br />
				<div class="spectresection">
					Club
				</div>
				<div class="spectretext">
					We're not just a library; we also hold social events. Our calendar is accessible via <a href="http://www.google.com/calendar/render?gsessionid=7DmPEK-PKnQ#">Google Calendar</a>.
				</div>
				<br />
				<div class="spectretext">
					Any person in the Caltech community is entitled to Spectre membership. Joining is currently ill-defined, but you can start by subscribing to the mailing list (currently, zero traffic, planned low traffic) at <a href="https://hermes.ugcs.caltech.edu/cgi-bin/mailman/admin/spectrum">https://hermes.ugcs.caltech.edu/cgi-bin/mailman/admin/spectrum</a>. Club membership is free for you, but it helps us get funding.
				</div>
				<br />
				<div class="spectretext">
					We hope to hold at least one Spectre event per term, such as showing a particularly good or particularly bad speculative fiction film, attending a convention, or holding a reading of the Eye of Argon.
				</div>
				<br />
				<div class="spectretext">
					You do not need to be a member to check out or read books, you just need a library account. This is also free for you, and also gets us funding.
				</div>
				<br />
				<div class="spectresection">
					Volunteer
				</div>
				<div class="spectretext">
					We need assistance cataloging, shelving, storing, and barcoding our vast collection of works. If you have some time to donate, please contact Aliza Malz at <a href="mailto:aliza@caltech.edu">aliza@caltech.edu</a> for information. Even an hour would help us a lot, and you can come by whenever; we don't all need to be there.
				</div>
				<br />
				<div class="spectretext">
					The more help we have, the sooner we open.
				</div>
				<br />
				<div class="spectresection">
					Donations and Purchases
				</div>
				<div class="spectretext">
					Spectre is happy to accept science fiction and fantasy books from people who are not Caltech undergrads, as well as alumni who have been graduated for at least one year. We institute this waiting period to ensure that people don't give away treasured possessions out of irrational emotions around graduation. Exceptions will be made for anyone who can convince us they don't want to lug books across the country with them.
				</div>
				<br />
				<div class="spectretext">
					We are also willing to negotiate purchases or exchanges if you have books we may be interested in, and have a reasonable budget for buying new materials. Contact us for more information.
				</div>
				<br />
				<div class="spectresection">
					Club officers
				</div>
				<div class="spectretext">
					Spectre is co-ruled by a benevolant triumvirate over three overlapping but distinct spheres.
					<UL>
					    <LI>Aliza Malz, Literature Director
					    <UL><LI>aliza@its</LI></UL>
					    <LI>Jennifer Greco, Loremaster
					    <UL><LI>jengreco@caltech.edu</LI></UL>
					    <LI>Isaac Sheff, Technocrat 0
					    <UL><LI>isheff@caltech.edu</LI></UL>
					</UL>
				</div>
				<br />
				<div class="spectretext">
					With our powers combined, <a href="mailto:spectre-admin@its.caltech.edu">WE ARE SPECTRE</a>!
				</div>
				<br />
				<div class="spectretext">
					Also in at the ground floor were Daniel Rowlands and Eric Chin. Thanks to our friends who have helped make us great: Randall Wald, Jamie Jackson, Glenn Wagner, Alexander Rapp, Cathy Douglass, Alex Roper, Jason Cerundolo, Marty Rosenberg, and Peter Polko.
				</div>
				<br />
			</div>
		</div>
	</body>
</html>